- var description = 'Patternet - fast and convenient service to generate patterns, ornaments and textures.';
- var title = 'Patter.net - Pattern generator';
- var keywords ='patternet, patter.net, patter, pattern, generator, ornament, texture, паттерн, орнамент, текстура, генератор';

title= title
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='icon', href='favicon.ico', type='image/x-icon')
link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
meta(http-equiv='Content-type', content='text/html;charset=utf-8')
meta(name='description', content=description)
meta(name='keywords', content=keywords)
link(rel='image_src', href='http://patter.net/img/logo.jpg')
//- meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:title', content=title)
meta(name='twitter:description', content=description)
meta(name='twitter:image:src', content='http://patter.net/img/logo.jpg')
meta(property='og:title', content=title)
meta(property='og:image', content='http://patter.net/img/logo.jpg')
meta(property='og:description', content=description)
meta(itemprop='name', content=title)
meta(itemprop='description', content=description)
meta(itemprop='image', content='http://patter.net/img/logo.jpg')

